/* .cardSize{
    max-width: 200px;
    height: 200px;
    background-color: whitesmoke;
}

.mat-card{
    padding: 45px;
}

.bookingcards {
    margin: 0 auto;
    padding-left: 0px;
  }

  .bookingcards .card {
    border:1px solid #d0d3d4  ;
  }

  .bookingcards .card-title {
    color: #333;
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
  
  }

  .card-body{
      height: 170px;
      background-color: whitesmoke;
  }

  .posPadd{
    margin-top: 26px;
  }

  .posPadd1{
    margin-top: 55px;
  }
  .posPadd2{
    margin-top: 30px;
  }

  .iconPos{
    height: 318px;
    width: 1px;
    margin-left: 115px;
  }
   */