/* .matterminalPos{
    height: 184px; margin-left: 5%;margin-right: -15%;
}
.ContainerCountCol{
    margin-top: 30px;    margin-left: 20px;
}
.ContainerCountRow{
    margin-left: 53px;
}
.ContainerCountValueRow{
    margin-left: 45px;
}
.DischargeCountPos{
    margin-left: 2%;
}
.LoadCountPos{
    margin-top: 16px;
}
.matDeliveryPort{
    margin-left: -4px;
    margin-right: -16%;
}
.deliveryPortImgRow{
    padding-left: 14%;
}

.deliveryPortImg2{
    padding-left: 3%;
}
.deliveryPortImg3{
    padding-left: 4%;
}
.deliveryPortLabelRow{
    padding-left: 64px;
} */