<mat-card class="matcl" >
    <div class="row">
        <div class="col-lg-1 col-md-1">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img src="../../../assets/images/iconBack.png" class="subheader1-img-icon">
                </div>

                <div class="col-lg-8 col-md-8">
                    <img src="../../../assets/images/iconBackSeperator.png" class="subheader1-icon-separator">
                </div>
            </div>

        </div>
        <div class="col-lg-11 col-md-11">
            <div class="row subheader1-align-data">
                <div class="col-lg-2 col-md-2">
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <img src="../../../assets/images/iconPort.png" class="subheder1-port-icon">
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <mat-label class="textco"> MYPTP - Pelabuhan Tanjung Pelapas</mat-label>
                        </div>
                    </div>

                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="row">
                        <!-- <div class="col-lg-1 col-md-1"></div> -->
                        <div class="col-lg-1 col-md-1 ">
                            <mat-label class="textco lisbonPos"> LISBON </mat-label>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <mat-label class="textco arrivaldatePos">Arrival Date (Estimated): </mat-label>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <mat-label class="textco depaturePos">Departure Date (Estimated): </mat-label>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <mat-label class="textco">Arrival Date (Actual):</mat-label>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <mat-label class="textco">Departure Date (Actual):</mat-label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-lg-1 col-md-1"></div> -->
                        <div class="col-lg-1 col-md-1 ">
                            <mat-label class="lisbonPos lisboncolor" > 934S|936W </mat-label>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <mat-label class="textco arrivaldatePos">07 sep 2019 01:00 </mat-label>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <mat-label class="textco depaturePos" >07 sep 2019 01:00 </mat-label>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <mat-label class="textco"> - </mat-label>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <mat-label class="textco"> - </mat-label>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-1 col-md-1">
                <div class="row">

                    <div class="col-lg-4 col-md-4">
                        <mat-label class="textco"> LISBON </mat-label>
                    </div>
                    <div class="col-lg-7 col-md-7">

                    </div>
                    <div class="col-lg-1 col-md-1"> 934S|936W</div>
                </div>

            </div>
            <div class="col-lg-2 col-md-2">
                <div class="row">

                    <div class="col-lg-2 col-md-2">
                        <mat-label class="subheader1-eta"> ETA: </mat-label>
                    </div>
                    <div class="col-lg-10 col-md-10">

                    </div>
                    <div class="subheader-text"> 07 sep 2019 01:00</div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="row">

                    <div class="col-lg-2 col-md-2">
                        <mat-label class="textco"> ETD: </mat-label>
                    </div>
                    <div class="col-lg-10 col-md-10">

                    </div>
                    <div class="subheader1-text1">
                        <mat-label>07 sep 2019 01:00</mat-label>
                    </div>
                </div>

            </div>
            <div class="col-lg-2 col-md-2">
                <div class="row">

                    <div class="col-lg-2 col-md-2">
                        <mat-label class="textco"> ATA: </mat-label>
                    </div>
                    <div class="col-lg-10 col-md-10">

                    </div>
                    <div class="subheader-text">
                        <mat-label>-</mat-label>
                    </div>
                </div>

            </div>
            <div class="col-lg-1 col-md-1">
                <div class="row">

                    <div class="col-lg-2 col-md-2">
                        <mat-label class="textco"> ATD: </mat-label>
                    </div>
                    <div class="col-lg-10 col-md-10">

                    </div>
                    <div class="subheader-text"> </div>
                </div>

            </div> -->
            </div>
        </div>
    </div>
</mat-card>