/******** Large devices like desktops > 900px & < 1200px*********/

@media screen and (min-width: 1200px) and (max-width: 1650px) {
  /*** home starts***/
  .bckclr {
    background: #f6f6f6;
    height: -webkit-fill-available;
  }
  .borderColor{
    border-bottom: 1px solid #004070;
    
  }
  .borderColor1{
  border-bottom: 1px solid #004070;
    border-top: 1px solid #004070;
    margin-top: 33px;
  }

  .iconcost {
    margin-left: 19px;
    height: 21px;
    width: 16px;
}
.sidenav{
  margin-left: 34px;
    font-size: 0.8rem;

}
.nav-tabs .nav-link {
  border: 0px solid transparent !important;
 
}
.sidealign{
 margin-top: 7px;
}
.selectedalign{
  vertical-align: -webkit-baseline-middle;
  font-size: 0.8rem;
  margin-left: 27px;
}
.valuesize{
  margin-top: -9px !important;
  margin-left: -1px !important;
  color: white;
}
.selectedalign1{
vertical-align: -webkit-baseline-middle;
font-size: 0.8rem;
margin-left: 34px;
}
  /*** home ends***/
  /** header starts ***/
  .separatoralignheader {
    height: 40%;
    margin-left: 14%;
  }
  .bg-lights {
    background-color: #fff;
    border-bottom: 4px;
    box-shadow: 5px 5px 5px #f4f4f4;
    /* width: 10px; */
    height: 90px;
  }

  .bg-lights1{
    background-color: #fff;
    border-bottom: 4px;
    box-shadow: 5px 5px 5px #f4f4f4;
    /* width: 10px; */
    height: 696px;
    margin-top: 1px;
  }
  .logoalign {
    width: 58%;
    height: 48px;
    margin-left: 20px;
  }
.logoalign1{
  margin-left: 17px;
  width: 31%;
}
a {
  color: #004070 !important;
}
  .iconheadersepa {
    margin-left: 52px;
  }
  .heder-port {
    height: 66px;
  }
  .logoutalign {
    width: 40%;
    height: 40%;
    margin-left: 31%;
  }

  .usernamePos {
    padding-left: 0px;
  }
  /*** header ends ***/

  /*** subheader starts *****/
  .card-container {
    width: 93.8%;
    margin-top: 31px;
    margin-left: 3.1%;
    height: 93px;
    background-color: #004070;
  }
  .cardradius {
    border-radius: 0px;
  }
  #datepic {
    border: none;
    background: #004070;
    color: #ffffff;
    width: 80%;
  }
  .imagalign {
    height: 28px;
    width: 21px;
    margin-left: 28px;
    margin-top: 14px;
  }
  .separatoralign {
    margin-left: 31px;
  }

  .portalign {
    margin-top: 9px;
    width: 27px;
    height: 27px;
    margin-left: 8px;
  }
  .datealign {
    width: 60%;
    height: 60%;
  }
  .datealign1 {
    margin-left: 14px;
  }
  .textco {
    color: #ffffff;
  }
  .subheader-align {
    margin-top: 7px;
    /* margin-left: 60px; */
  }
  .subheader-align-mytp {
    /* margin-top: 9px; */
    margin-left: 15%;
  }
  /**dropdown and serach button startt****/
  .dropdownPos {
    width: 93%;
    height: 88%;
    color: #004070;
    font-family: IBM Plex Sans, medium;
    font-size: 13px;
    margin-left: 1px;

   
  }
  .dropdownColPos {
    margin-top: 9px;
  }
  .search-font-properties {
    width: 50%;
    font-size: 14px;
  }
  .serachProper {
    width: 130px;
    height: 75%;
    background-color: #5dbcdb;
    margin-left: 82px;
  }
  .SearchColPos {
    margin-top: 9px;
    /* text-align: right; */
  }
  /********dropdown and search ends****/
  /*** subheader ends ***/
  /* subheader1  starts**/
  .matcl {
    width: 94%;
    margin-top: 31px;
    margin-left: 3%;
    height: 93px;
    background-color: #004070;
    padding-top: 8px;
  }
  .subheader1-img-icon {
    margin-left: 45px;
    margin-top: 14px;
    height: 32px;
  }
  .subheader1-icon-separator {
    margin-top: 0px;
    /* height: 100%; */
    margin-left: 30px;
  }
  .subheder1-port-icon {
    margin-top: 9px;
    width: 27px;
    height: 27px;
    /* margin-left: 15px; */
  }
  .subheader-text {
    margin-left: 58px;
    color: #004070;
  }
  .subheader1-eta {
    margin-left: 43px;
    color: #004070;
  }
  .subheader1-text1 {
    margin-left: 15px;
    color: #004070;
  }
  .subheader1-align-data {
    margin-top: 6px;
    margin-left: 10px;
  }

  .textco {
    color: #ffffff;
    font-size: 0.8rem;
  }
  .greenColor {
    color: #417505;
    font-size: 24px;
  }
  .redColor {
    color: #d0021b;
    font-size: 24px;
  }
  .deliveryportPos {
    padding-left: 22px;
  }
  .arrivaldatePos {
    padding-left: 57px;
  }
  .lisbonPos {
    padding-left: 3px;
  }
  .lisboncolor {
    color: #5dbcdb;
  }
  /* .mat-card-content>:first-child, .mat-card>:first-child {
  margin-top: 10px;
} */
  /*** suheader1 ends/

  /*** flow diagram starts *******/
  .greenClr {
    color: #6bc00d !important;
  }

  .flowdiagmatPos {
    margin-top: 0px;
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid #b9b9b9;
}

  .colPos {
    padding-left: 4%;
  }

  .textPOS1 {
    padding-left: 21%;
  }
  .imgPOS1 {
    padding-left: 15%;
  }
  .lineColPos {
    margin-left: -3%;
  }
  .line {
    border-bottom: 1px solid silver;
    width: 129%;
    padding-top: 12%;
  }

  .txtcolor1 {
    color: #004070;
  }
  .txtcolor2 {
    color: #004070;
    /* background: #2C6B9B 0% 0% no-repeat padding-box;
    opacity: 1; */
  }
  .textPadd1 {
    padding-left: 52%;
  }
  .imgPos1 {
    padding-left: 51%;
  }
  .dottedline {
    border-bottom: 1px solid silver;
    width: 117%;
    padding-top: 12%;
    border-bottom: dotted silver;
  }
  .textPadd2 {
    padding-left: 24%;
  }
  .textPadd3 {
    padding-left: 6%;
  }
  .textPadd4 {
    padding-left: 6%;
  }
  .footerMatCard {
    margin-left: 3%;
    margin-right: 3%;
    height: 9%;
  }
  .footerMatCard1 {
    margin-left: 32px;
    margin-right: 33px;
    height: 12%;
  }
  .imgPos2 {
    padding-left: 61px;
  }
  .USPS1Pos {
    margin-left: 14px;
  }
  .anamolieAlign {
    text-align: right;
  }
  .costalign {
    text-align: right;
  }
  /*** flow diagram end *******/

  /*** terminal starts **/
  .terminal-align {
    /* width: 100%; */
    margin-top: 53px;
    height: 39%;
    background-color: #5dbcdb;
    margin-top: 15px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
  }
  .terminal-icon-separator {
    height: 150px;
  }
  .teminal-align-element {
    padding-bottom: 0px;
    margin-top: 16px;
    padding-left: 10px;
    padding-left: 78px;
  }
  .teminal-align-element3 {
    padding-bottom: 0px;
    margin-top: 32px;
  }
  .teminal-align-element1 {
    margin-top: 15px;
  }
  .teminal-align-element2 {
    margin-top: 37px;
  }
  .terminal-align-header {
    margin-left: 24px;
  }
  .textnumcolor {
    color: #4a4a4a;
  }
  .textnumcolor1 {
    color: #4a4a4a;
    font-size: 24px;
  }
  .textnumcolor2 {
    color: #6bc00d;
    font-size: 24px;
  }
  .deliveryportPos {
    padding-left: 22px;
  }
  .seperatorPos {
    padding-left: 30px;
  }
  .textcolor {
    color: #004070;
  }
  .matterminalPos {
    height: 100%;
    margin-left: 5%;
    margin-right: -15%;
  }
  .ContainerCountCol {
    margin-top: 30px;
    margin-left: 20px;
  }
  .ContainerCountRow {
    margin-left: 53px;
  }
  .ContainerCountValueRow {
    /* margin-left: 66px; */
    text-align: right;
  }
  .DischargeCountPos {
    margin-left: 2%;
  }
  .LoadCountPos {
    margin-top: 11px;
    /* height: 50%; */
  }
  .matDeliveryPort {
    margin-left: -5px;
    margin-right: -16%;
    height: 100%;
  }
  .deliveryPortImgRow {
    padding-left: 14%;
  }

  .deliveryPortImg2 {
    padding-left: 5%;
  }
  .deliveryPortImg3 {
    padding-left: 15%;
  }
  .deliveryPortLabelRow {
    padding-left: 64px;
  }
  .terminal-port-icon {
    margin-left: 0px;
  }
  .ContainerCountMainCol {
    /* margin-top: 21px; */
    padding-top: 25px;
    margin-left: -4px;
  }

  /*** terminal ends **/

  /*** gateDataCards diagram starts *******/

  .cardSize {
    max-width: 200px;
    height: 200px;
    background-color: whitesmoke;
  }

  .mat-card {
    padding: 45px;
  }

  .bookingcards {
    margin: 0 auto;
    padding-left: 0px;
  }

  .bookingcards .card {
    border: 1px solid #d0d3d4;
  }

  .bookingcards .card-title {
    color: #333;
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
  }

  .card-body {
    height: 170px;
    background-color: whitesmoke;
  }

  .posPadd {
    margin-top: 26px;
  }

  .posPadd1 {
    margin-top: 55px;
  }
  .posPadd2 {
    margin-top: 30px;
  }

  .iconPos {
    height: 318px;
    width: 1px;
    margin-left: 115px;
  }

  /*** gateDataCards diagram end *******/
  /***Vessel List Starts***/
  .rowradius {
    border-radius: 0px !important;
  }
  .md-drppicker {
    color: initial !important;
    left: -301px !important;
  }
  .footer {
    width: 93.8%;
    /* margin-top: 31px; */
    margin-left: 3.1%;
    height: 10%;
    background-color: #ffffff;
  }
  .tabsp {
    width: 18%;
  }
  .table1 {
    width: 96.8%;
    margin-left: 1.1%;
    border-collapse: separate;
    border-spacing: 0 1em;
    padding-left: 1%;
  }
  .table1 tr th {
    height: 5em;
    color: #ffffff;
    background: #5dbcdb;
    font-size: 1rem;
    vertical-align: middle;
    font-weight: lighter;
    /* border: solid 1px #000; */
    /* outline: thin solid; */
    /* border-style: solid none; */
  }
  .table1 tr td {
    height: 5em;
    background: #ffffff;
    color: #004070;
    font-size: 0.8rem;
    vertical-align: middle;
    /* border: solid 1px #000; */
    /* outline: thin solid; */
    /* border-style: solid none; */
  }
  .table1 tr th,
  .table1 tr td {
    top: -2px;

    border-top: 2px solid #f2f2f2;

    bottom: -2px;

    border-bottom: 2px solid #f2f2f2;
  }

  .table1 tr th:first-child,
  .table1 tr td:first-child {
    top: -2px;
    left: -2px;
    border-top: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    border-top-left-radius: 10px;
  }
  .table1 tr th:first-child,
  .table1 tr td:first-child {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    border-bottom-left-radius: 10px;
  }
  .table1 tr th:last-child,
  .table1 tr td:last-child {
    top: -2px;
    right: -2px;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-top-right-radius: 10px;
  }
  .table1 tr th:last-child,
  .table1 tr td:last-child {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-bottom-right-radius: 10px;
  }
  .coord {
    color: #4a4a4a;
    font-size: 12px;
    /* font-weight:light; */
  }
  .seedetails {
    width: 130px;
    height: 40px;
    margin-right: 26px;
  }
  .details {
    background: #004070;
  }
  .details:hover {
    background: #004070 !important;
    color: white;
  }
  .details1 {
    background: white;
    border: 1px solid #004070;
    color: #004070;
  }
  .details1:hover {
    background: white !important;
    border: 1px solid #004070;
    color: #004070;
  }
  .details:disabled {
    background: #cdcdcd;
    border: 1px solid #cdcdcd;
  }

  .details:disabled:hover {
    background: #cdcdcd !important;
    color: white;
    border: 1px solid #cdcdcd;
  }
  .details1:disabled {
    background: white;
    border: 1px solid #cdcdcd;
    color: #cdcdcd;
  }
  .details1:disabled:hover {
    background: white;
    border: 1px solid #cdcdcd;
    color: #cdcdcd;
  }
  .vesselnm {
    font-size: 16px;
  }
  .footerColor {
    color: grey;
    margin-left: 1.5%;
  }
  .btn:hover {
    background-color: #004070;
  }
  /* .vesselContainerPos{
    padding-right: 65px;
  } */
  .btn1:hover {
    background-color: #5dbcdb;
  }
  /***Vessel List End***/
  /*******Login Page Strats**********/

  .iconerror {
    margin-left: 11px;
    height: fit-content;
    width: fit-content;
    margin-top: -3px;
  }
  .error {
    margin-top: auto;
    padding-top: 2px;
    margin-left: 10px;
  }

  .login-title1 {
    padding-top: 8px;
    padding-left: 2px;
    margin-right: 124px;
    margin-left: 113px;
    margin-top: 56px;
    color: #d0021b;
    opacity: 50%;
    border-style: solid;
    font-size: 0.8rem;
    border-color: #e7808d;
    height: 6%;
    border-style: solid;
    opacity: 50%;
    border-width: 1px;
    position: absolute;
    width: 48.5%;
  }
  .logoicon {
    margin-top: 53px;
    text-align: center;
    margin-left: 59px;
    width: 50%;
  }
  .loginImage {
    width: 100%;
    height: 600px;
  }

  section.login {
    background: #ffffff;

    width: 62%;

    margin: 90px auto 0;
  }

  input {
    border: 1px solid #003bc9;
  }

  .login-title {
    padding-top: 30px;
    padding-left: 53px;
  }

  form label {
    font-size: 15px;
    font-weight: lighter;
  }

  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px !important;
  }

  .login-mytp-align {
    margin-top: 116px;
  }

  .placeholder {
    font-size: 12px;
  }

  .mat-form-field {
    font-family: IBMPlexSans-Regular;
  }

  .create {
    width: 77%;
    margin-top: 20px;
    margin-left: 66px;
    height: 86%;
    background-color: #004070;
    color: #fff;
    font-size: 0.8rem;
    font-family: IBMPlexSans-Regular;
    border: none;
    outline: none;
}
.create1 {
  width: 77%;
  margin-top: 20px;
  margin-left: 31px;
height: 86%;
 background-color: white;
  color:#004070 ;
  font-size: 0.8rem;
  font-family: IBMPlexSans-Regular;
  border: none;
  outline: none;
}

  .example-full-width {
    width: 100%;
    font-size: 0.8rem;
  }
  .power-block-align {
    margin-top: 78px;
    margin-left: 10px;
  }
  .powericon {
    width: 66%;
    height: 100%;
    margin-left: 26px;
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }

  .example-container > * {
    width: 100%;
  }
  /*******Login Page End**********/
  .mat-card {
    font-family: IBM_sans_medium;

    box-shadow: none !important;
    border-radius: 0px !important;
  }
  /*** merck-popup.component ***/
  .vl {
    width: 1px;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    color: #979797;
    margin-top: 14.7%;
    margin-bottom: 10.5%;
  }

  .matcon {
    width: 900px;
    position: relative;
    right: 300px;
  }

  .txtcol {
    color: green;
  }

  .btn {
    margin-top: 10px;
  }

  .hr-adj {
    margin-top: 0rem;
  }
  .hr-adj1 {
    margin-top: 1rem;
  }
  .rejadj {
    margin-right: 47px;
  }

  .subadj {
    margin-right: 75px;
  }

  .appadj {
    padding-right: 30px;

    padding-left: 30px;
  }
  .labelcolor {
    color: grey;
  }
  option {
    color: #4a4a4a;
  }
  .pop {
    color: #004070;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
  .mat-table {
    font-family: IBM_sans_medium !important;
  }

  .tablecont {
    height: 400px;
  }
  .viewanomaly {
    color: #004070;
    font-size: 24px;
    margin-left: 3%;
  }
  .subl {
    color: #004070;
    font-size: 22px;
    margin-left: 5.4%;
    margin-top: 4%;
    margin-right: 5.4%;
  }
  .subr {
    color: #004070;
    font-size: 20px;
    margin-left: 5.4%;
    margin-top: 4.5%;
    margin-right: 5.4%;
  }
  .matl {
    background-color: #004070;
    height: 40%;
    margin-top: 2%;
    margin-left: 5.4%;
    margin-right: 5.4%;
  }
  .matr {
    background-color: #004070;
    /* margin-left: 7%; */
    height: 40%;
    margin-top: 2.1%;
    margin-left: 5.4%;
    margin-right: 5.4%;
  }
  .split {
    height: 100%;
    width: 50%;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
  .cno {
    margin-left: 5%;
    margin-top: 2%;
    color: white;
  }
  .cnoimg {
    margin-left: 8%;
    margin-top: 2.5%;
    height: 0.5%;
  }
  .table2 {
    margin-left: 7.7%;
    margin-right: 7.7%;
  }
  .leftalign {
    text-align: right;
  }
  .tabcol {
    color: #4a4a4a;
  }
  .tabcolred {
    color: red;
  }
  select {
    content: "\2228" !important;
    border: none;
    border-bottom: 1px solid #979797;
    margin-left: 7.5%;
    width: 114.7%;
    height: 42px;
    color: #4a4a4a;
    padding: 10px;
    -webkit-appearance: none; /* for chrome & safari */
    -moz-appearance: none; /* for mozilla */
    background-image: url("/assets/images/iconDropDown.png");
    /* width: 115%; To hide the orginal dropdown arrow in IE */
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 14px;
  }

  .tabledata {
    font-size: 14px;
    color: #4a4a4a;
  }
  .mat-table-header-font {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: bold;
    width: 8%;
  }
  .mat-table-header-font1 {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: bold;
    width: 12%;
  }
  .anom {
    margin-left: 3.1%;
    margin-top: 7px;
    font-size: 22px;
}
  .mat-tab-group {
    background-color: white;
  }
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    border-bottom-width: 0px !important;
  }
  .mat-row:nth-child(even) {
    background-color: none;
  }

  .mat-row:nth-child(odd) {
    background-color: #e4f8ff;
  }
  table {
    width: 100%;
  }
  th.mat-header-cell {
    text-align: left;
  }
  .table2 tr:nth-child(even) {
    background-color: #e4f8ff;
  }
  .table2 tr:nth-child(odd) {
    background-color: none;
  }

  .modal {
    position: fixed;
    left: 6%;
    top: 13.7%;
  }
  .close {
    width: 80%;
    height: 95%;
    padding-right: 20%;
    padding-top: 10%;
    opacity: 3;
  }
  .close:hover {
    color: black;
  }
  .reasoncode {
    padding-top: 2%;
    padding-bottom: 4%;
  }
  .btnpad {
    padding-bottom: 1.4%;
  }
  /*** merck-popup.component***/

  .pointer {
    cursor: pointer;
  }
  /********Gatein Starts*********/
  .matGatePos {
    background-color: #5dbcdb;
    margin-right: 34px;
    margin-left: 36px;
    margin-top: 15px;
    padding-left: 30px;
  }
  .gateImgPos {
    text-align: center;
  }
  .gateLabelProperties {
    color: #004070;
    margin-top: 7px;
    font-family: IBM Plex Sans, Medium;
  }
  .gateValueProperties {
    text-align: -webkit-center;
    color: #004070;
    margin-top: 0px;
    font-size: 24px;
    font-family: IBM Plex Sans, Medium;
  }
  .GateInMatLabelProperties {
    color: #004070;
    font-size: 20px;
    padding-left: 20px;
    font-family: IBM Plex Sans, Medium;
  }
  .GateInMarCardProperties {
    margin-left: 34px;
    margin-right: 18px;
    margin-top: 10px;
    margin-bottom: 22px;
    width: 98%;
  }
  .cursorEnable {
    cursor: pointer;
  }

  /********Gatein Ends*********/

  .btn.focus,
  .btn:focus {
    outline: 0;
    box-shadow: none !important;
  }
  .btn1.focus,
  .btn1:focus {
    outline: 0;
    box-shadow: none !important;
  }
  th {
    position: sticky;
    top: 0;
    background-color: white;
  }
  

  /**************Checkbox*********/
  :host /deep/ .mat-checkbox-inner-container {
   
    margin-right: 28px ! important;
}

.ContainerSelectedMatCard {
  margin-left: 44px;
  width: 94%;
  background-color: #e4f8ff;
  margin-top: 14px;
}
.checkboxsize {
  width: 40px;
  background-color: #6bc00d;
  height: 34px;
  margin-top: 3px;
  margin-left: 65px;
}
/****************Checkbox************/

/****************Vessel Page Cards*******/
.cardsvessel{
  margin-right: 32px;
  margin-left: 46px;
  margin-top: 17px;
}
.cardColor{
  background-color:#004070 ;
  height: 105%;
}
.colortxt{
  color: #ffffff;
  
}

.colortxt1{
  color: #5dbcdb;
  margin-top: 12px;
    text-align: end;
    font-size: 18px;
}
.alignTxt{
  text-align: center;
  font-size: 24px;
  margin-block-start: auto;
}
.GateTableCards{
  margin-left: 12px;
  margin-right: 67px;
}
.portalign1 {
  margin-top: 9px;
  width: 34px;
  height: 32px;
  margin-left: 26px;
}
.portalign2 {
  margin-top: 9px;
  width: 24%;
  height: 90%;
  margin-left: 18px;
}

.fontSize1{
  font-size: 18px;
}

}
