<nav class="navbar navbar-expand-lg navbar-light bg-lights">
  <!-- <div class="row"> -->
  <div class="col-lg-1 col-md-1">
    <img src="./assets/images/iconHamburger.png" class="logoalign1" />

  </div>
  <div class="col-lg-3 col-md-3">

    <!-- <img src="./assets/images/iconHamburger.png" /> -->

    <img src="./assets/images/logoMaersk.png" class="logoalign" />

    <!-- <img src="./assets/iconLongSeperator.png">
        <div class="col-lg-2 alignCenter">IC2</div> -->
  </div>
  <div class="col-lg-5 col-md-5"></div>
  <div class="col-lg-2 col-md-2 leftalign">
    <mat-label> Hi {{ user }} user!</mat-label>
  </div>
  <!-- <div class="col-lg-1 col-md-1">
    <img src="./assets/images/iconNotification.png" class="bellalign">
    <img src="../../../assets/images/iconHeaderSeperator.png" class="iconheadersepa">
  </div> -->
  <div class="col-lg-1 col-md-1 ">
    <img src="./assets/images/iconHeaderSeperator.png" class="separatoralignheader" />
    <img src="./assets/images/iconLogout.png" class="logoutalign pointer" (click)="logout()" />
  </div>
  <!-- <div class="col-lg-6  classFlex position"> -->
  <!-- <div class="col-lg-3 margLab uname">Hi {{header_name}}! -->
  <!-- <div class="col-lg-6 margLab uname"> -->
  <!--  <span>logo</span> -->
  <!-- </div> -->
  <!-- <img src="../../../assets/images/iconLongSeperator.png"> -->
  <!-- <div class="col-lg-2 alignCenter pointer" (click)="Logout()">

        </div> -->
  <!-- </div> -->

  <!-- </div> -->
</nav>

<!-- <div id="myModal2" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">


    <div class="modal-content">

      <div class="modal-body mrg-tp10">

        <h2 style="text-align: center" class="mrg-tp10" style="font-size: 20px;">Are you sure you want to logout of the tool?</h2>



      </div>
      <div class="row" style="margin-bottom:20px;margin-left: 3%;">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <button class="cancel" data-dismiss="modal">Cancel</button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <button class="create" (click)="Logout()" data-dismiss="modal">Logout</button>
        </div>

      </div>
    </div>
  </div>
</div> -->